<?xml version="1.0" encoding="utf-8"?>
<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets async="true">
		<target name="File" xsi:type="File"
				layout="${longdate}|${level:uppercase=true}|ID_${event-properties:logId}|${message}${onexception:inner=${newline}${exception:format=tostring}}"
			filename="${basedir}/logs/TechChallenge_${date:format=yyyyMMdd}.log">
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="debug" writeTo="File" />
	</rules>
</nlog>