<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extensions>
		<add assembly="NLog.Targets.ElasticSearch"/>
	</extensions>
	<targets async="true">
		<target xsi:type="FallbackGroup" name="FallbackFromElasticToFile" returnToFirstOnSuccess="true">
			<target name="elastic" xsi:type="BufferingWrapper" flushTimeout="50">
				<target name="elasticserarchlog" xsi:type="ElasticSearch"
					  uri="${environment:ELK_URI}"
					  index="tech-challenge-api-${machinename}-${date:format=yyyy.MM.dd}"
					  requireAuth="true"
					  username="${environment:ELK_USERNAME}"
					  password="${environment:ELK_PASSWORD}"
					  layout="${longdate}|${level:uppercase=true}|ID_${event-properties:logId}|${message}${onexception:inner=${newline}${exception:format=tostring}}"
					  documentType="">
					<field name="host" layout="${machinename}"/>
					<field name="request.id" layout="${gdc:request-id}"/>
				</target>
			</target>
		</target>
	</targets>
</nlog>